# Системні файли Python
**/__pycache__/
*.pyc
*.pyo

# Віртуальне середовище
venv/

# Секретні файли
.env*
*.sqlite3

# IDE файли
.idea/

# Django міграції
kitchen/migrations/*.pyc
kitchen/migrations/*.py
!kitchen/migrations/__init__.py
