{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Фон на всю сторінку -->
    <div class="page-header min-vh-80" style="background-image: url('{{ ASSETS_ROOT }}/img/bg.120.jpg'); background-size: cover; background-position: center; padding-top: 50px;">
      <h1 class="text-center text-white mb-3" style="font-size: 2.5rem; color: red; z-index: 5; position: relative; margin-bottom: 1px;">COOK LIST</h1>        <!-- Контейнер для контенту -->
        <div class="container d-flex justify-content-center align-items-center min-vh-100">

            <div class="card bg-white shadow-lg rounded p-4" style="background-color: #f8d7da; opacity: 1; width: 100%; max-width: 1200px; padding: 30px;">


                <form action="" method="get" class="form-inline mb-3">
                    {{ search_form|crispy }}
                    <input class="btn btn-secondary" type="submit" value="🔍">
                </form>


                {% if cook_list %}
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Years of experience</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cook in cook_list %}
                        <tr>
                            <td>{{ cook.id }}</td>
                            <td><a href="{{ cook.get_absolute_url }}">{{ cook.username }} {% if user == cook %} (Me){% endif %}</a></td>
                            <td>{{ cook.first_name }}</td>
                            <td>{{ cook.last_name }}</td>
                            <td>{{ cook.years_of_experience }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="text-white">There are no cooks in the service.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
