<div class="container position-sticky z-index-sticky top-0" style="background-image: url('path_to_your_image.jpg'); background-size: cover; background-position: center;">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg blur border-radius-xl mt-4 top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                <div class="container-fluid px-0">
                    <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
                        Made by Okhrymenko
                    </a>
                    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon mt-2">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
                        <ul class="navbar-nav navbar-nav-hover ms-auto">
                            <!-- DISHES Dropdown -->
                            <li class="nav-item dropdown dropdown-hover mx-2">
                                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
                                    DISHES
                                    <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2">
                                </a>
                                <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages">
                                    <div class="d-none d-lg-block">
                                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
                                            <li class="list-group-item"><a href="{% url 'kitchen:dish-list' %}">All dishes</a></li>
                                        </h6>
                                    </div>
                                </div>
                            </li>

                            <!-- DISH TYPES Dropdown with Single Item -->
                            <li class="nav-item dropdown mx-2">
                                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuTypes" data-bs-toggle="dropdown" aria-expanded="false">
                                    DISH TYPES
                                    <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuTypes">
                                    <li class="list-group-item">
                                        <a class="dropdown-item py-2 ps-3 border-radius-md" href="{% url 'kitchen:dish_type-list' %}">
                                            All dish types
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- COOKS Dropdown with Single Item -->
                            <li class="nav-item dropdown mx-2">
                                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuCooks" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="material-icons opacity-6 me-2 text-md">restaurant</i>
                                    COOKS
                                    <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuCooks">
                                    <li class="list-group-item">
                                        <a class="dropdown-item py-2 ps-3 border-radius-md" href="{% url 'kitchen:cook-list' %}">
                                            All cooks
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- LOGOUT Button -->
                            {% if request.user.is_authenticated %}
                                <li class="nav-item ms-lg-auto">
                                    <a class="nav-link nav-link-icon me-2" href="{% url 'logout'%}?next={{request.path}}">
                                        <i class="fa fa-sign-out me-1"></i>
                                        <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="LOG OUT">LOG OUT</p>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar -->